
.search select{
    width: 100px;
}
/*添加订单按钮*/
#addbtn{
    float: right;
    margin-right: 1%;
}


/*标题*/
.ordertitle{
    width: 444px;
    height:32px;
    border-bottom: 1px solid #c6cacc;
 }

.ordertitle h1{
    width: 442px;
    line-height: 30px;
    background-color:#e4eaec;
    border: 1px solid #FFFFFF;
    color: #58666e;
    text-align: center;
    font-size: 13px;
    margin-top: 1px;
}

.prodetail{
    width: 210px;
    float: left;
    margin: 40px 0 0 40px;
}
.prodetail1{
    width: 190px;
    float: left;
    margin: 40px 0 0 0;
}
.prodetail2{
    width: 375px;
    float: left;
    margin: 40px 0 0 40px;
}

.prodetail p,.prodetail1 p,.prodetail2 p{
    float: left;
    color: #58666e;

}
.prodetail input,.prodetail1 input,.prodetail2 input,.prodetail select,.prodetail1 select{
    float: left;
    width: 100px;
    outline: none;
    line-height: 20px;
    margin-left: 10px;
    color: #58666e;
}

/*确认和取消按钮*/
.orderbtn{
    width: 140px;
    margin: 30px auto 0;
}
.orderbtn input{
    border-bottom: 2px solid #b0b4b5;
    height: 25px;
    margin: 0 10px;
    font-size: 12px;

}
/*确认按钮*/
.modify, .delete{
    border-bottom: 2px solid #b0b4b5;
    border-top: none;
    border-right: none;
    border-left: none;
    height: 25px;
    color: #808080;
    padding: 0 12px;
    text-shadow: 0 0 20px #ffffff;
    background-color: #ececec;
    font-size: 12px;
    border-radius: 2px 2px 2px 2px;
    outline: none;
    cursor: pointer;
    margin:0 10px;

}
.modify, .delete:hover{
    color: #4d4d4d;;
}
/*商品展示样式*/
.content-main {
    width: 100%;
}

.table {
    background: #FFF;
    font-size: 12px;
    /*border-top: 1px solid #e1e6eb;*/
    border: 1px solid #e4eaec;
    width: 99%;
    margin: 0 20px 20px 0;
    text-align: center;
}

.table thead {
    background: #e4eaec;

}

.producttitle{
    color: #1f90c8;
}

.table thead th {
    padding: 10px 8px;
    border: 1px solid #e4eaec;
    vertical-align: middle;
    color: #58666e;
}

.table tbody tr:hover {
    background: #f2f8fa;
}
.table tbody tr td {
    width: 80px;
    padding:10px 0 7px 10px;
    border-top: 0;
    border-bottom: 1px solid #e4eaec;
    /*border-right: 1px solid #e4eaec;*/
}

.table tbody tr td select{
    color: black;
    outline: none;
    padding-left: 6px;
    border: 1px solid #949899;
    border-radius:0px;
    background-color: #FFFFFF;
}

.pic div{
    width: 40px;
    height: 40px;
}
.pic img{
    width: 100%;
    height: 100%;
}

/*table页脚*/
tfoot{
    background-color: #e4eaec;
}
.table tfoot tr td {
    padding: 12px 8px;
    /*border: 1px solid #e1e6eb;*/
    vertical-align: middle;
    /*border-top: 1px solid #dddddd;*/
}

/*新增商品按钮*/
.item-add{
    float: right;
    margin-right: 1%;
}

.content-link {
    color: #06C;
    cursor: pointer;
    text-decoration: none;
    background: transparent;
}

.text-right {
    text-align: right;
}

.text-explode {
    color: #CCC !important;
    font-weight: normal !important;
    margin: 0 4px !important;
}
/*省份*/
.col1 {  width: 7.5%}
.col1 img{
    width: 40px;
    height: 40px;
}
/*城市*/
.col2 {  width: 25%}
/*县区*/
.col3 {  width: 25%}
/*街道*/
.col4 {  width: 25%}


/*街道*/
#s8, #a8{
    width: 309px;
    height: 85px;
    margin-left: 10px;
    outline: none;
    color: #58666e;
}

/*mask*/
.dialog-mask {
    opacity: .5;
    background: #333;
}





/*每项必填，合同编号不能超过分配数量!*/
#errorm1{
    font-size: 13px;
    color: white;
    position: absolute;
    padding: 10px 10px;
    background-color: rgba(77,77,77,0.6);
    border-radius: 20px 20px 20px 20px;
    text-align: center;
    top:36%;
    left: 42.5%;
    display: none;
    z-index: 998;

}
/*合同编号已存在!*/
#errorm2{
    font-size: 13px;
    color: white;
    position: absolute;
    padding: 10px 10px;
    background-color: rgba(77,77,77,0.6);
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    top:34%;
    left: 47.8%;
    display: none;
    z-index: 100;

}
/*账号不合法，请重新输入！*/
#errorm4, #errorm5, #errorm6, #errorm7{
    font-size: 13px;
    color: white;
    position: absolute;
    padding: 10px 10px;
    background-color: rgba(77,77,77,0.6);
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    top:34%;
    left: 47%;
    display: none;
    z-index: 100;

}
/*隐藏盒子下的蒙版*/
.black{
    width: 100%;
    height: 100%;
    background-color: rgba(100,100,100,0.4);
    position: fixed;
    display: none;
    z-index: 998;
    border: 1px solid #c6cacc;
}
.fadebox1{
    width: 250x;
    height: 150px;
    box-shadow: 0 0 10px #bbbbbb;
    background-color: #FFFFFF;
    top:40%;
    left:45%;
    position: absolute;
}
.ordertitle1{
    width: 248px;
    height:32px;
    border-bottom: 1px solid #c6cacc;
 }
.ordertitle1 h1{
    width: 246px;
    line-height: 30px;
    background-color:#e4eaec;
    border: 1px solid #FFFFFF;
    color: #58666e;
    text-align: center;
    font-size: 13px;
    margin-top: 1px;
}
.orderbtn1{
    width: 148px;
    margin: 50px auto 0;
}
.orderbtn1 input{
    border-bottom: 2px solid #b0b4b5;
    height: 25px;
    margin: 0 10px;
    font-size: 12px;
    float:left;
}

