
/*添加订单按钮*/
#addbtn{
    float: right;
    margin-right: 1%;
}

/*隐藏盒子下的蒙版*/
.black{
    width: 100%;
    height: 100%;
    background-color: rgba(100,100,100,0.4);
    position: fixed;
    display: none;
    z-index: 998;
    border: 1px solid #c6cacc;
}

/*隐藏的添加订单和修改订单*/
.fadebox{
    width: 444px;
    padding-bottom:15px;
    box-shadow: 0 0 10px #bbbbbb;
    background-color: #FFFFFF;
    top:20%;
    left:40%;
    position: absolute;
}
/*标题*/
.ordertitle{
    width: 444px;
    height:32px;
    border-bottom: 1px solid #c6cacc;
}

.ordertitle h1{
    width: 442px;
    line-height: 30px;
    background-color:#e4eaec;
    border: 1px solid #FFFFFF;
    color: #58666e;
    text-align: center;
    font-size: 13px;
    margin-top: 1px;
}

.prodetail{
    width: 210px;
    float: left;
    margin: 30px 0 0 30px;
}
.prodetail1{
    width: 200px;
    float: left;
    margin: 30px 0 0 0;
}
.prodetail2{
    width: 375px;
    float: left;
    margin: 30px 0 0 30px;
}
.prodetail2 textarea{
    margin-left: 10px;
    width: 310px;
    border: 1px solid #c6cacc;
    outline: none;
    color: #58666e;
}
.prodetail2 input{
    width: 310px;
    margin-left: 10px;
    outline: none;
    line-height: 20px;
    color: #58666e;
}

.prodetail p,.prodetail1 p,.prodetail2 p{
    float: left;
    color: #58666e;

}
.prodetail input,.prodetail1 input,.prodetail select,.prodetail1 select{
    float: left;
    width: 100px;
    outline: none;
    line-height: 20px;
    margin-left: 10px;
    color: #58666e;
}

/*确认和取消按钮*/
.orderbtn{
    width: 140px;
    margin: 30px auto 0;
}
.orderbtn input{
    border-bottom: 2px solid #b0b4b5;
    height: 25px;
    margin: 0 10px;
    font-size: 12px;

}
/*确认按钮*/
#surebtn, #canclebtn{
    border-bottom: 2px solid #b0b4b5;
    border-top: none;
    border-right: none;
    border-left: none;
    height: 25px;
    color: #808080;
    padding: 0 12px;
    text-shadow: 0 0 20px #ffffff;
    background-color: #ececec;
    font-size: 12px;
    border-radius: 2px 2px 2px 2px;
    outline: none;
    cursor: pointer;

}
#surebtn:hover, #canclebtn:hover{
    color: #4d4d4d;;
}


/*右侧分类栏*/
table{
    width: 99%;
    text-align: left;padding: 10px 10px;
}
table th,td{
    padding: 8px 8px;
    text-align: center;
}

.table1{
    margin-top: 20px;
    border: 1px solid #d2d7d9;
}

.table1 th, .table th{
    color: #58666e;
    background: #e4eaec;
    font-weight: normal;
}

table tr{
    /*border-bottom:1px solid #d2d7d9 ;*/
}
/*详细订单展示*/
.table{
    margin: 20px 0;
    border: 1px solid #d2d7d9;
}
.table th, .table td{
    text-align: left;
}
.message{
    width: 80%;
    float: left;
}
.message h1{
    width: 63px;
    float: left;
    text-align: right;
    line-height: 20px;
}
.message p{
    float: left;
    margin-left: 10px;
    line-height: 20px;
    width: 70%;
}

.table2{
    text-align: left;
    border: 1px solid #d2d7d9;
    margin-top: 20px;
}

.table2title{
    padding: 10px 8px;
    color: #58666e;
    font-weight: normal;
    background: #f0f5f7;
}

.tablepic{
    width: 50px;
    height: 50px;
}
.tablepic img{
    float: left;
    width: 100%;
    height: 100%;
}
/*订单申请按钮*/
#applybtn{
    float: right;
    margin-right: 1%;
    cursor: pointer;
}
#applybtn:hover{
    background-color: #f2f2f2;
}
#goBtn{
    padding: 0 12px;
    height: 32px;
}

/*修改等按钮*/
.changebtn{
    color: #656565;
    border: none;
    padding: 0 12px;
    background-color:#ececec;
    font-size: 12px;
    height: 28px;
    line-height: 14px;
    border-bottom: 2px solid #d4d4d4;
    border-radius: 2px 2px 2px 2px;
    outline: none;
    cursor: pointer;
    font-weight: 300;
    margin: 5px 5px 0;
}
.changebtn:hover{
    background-color: #f2f2f2;
}

/*对应的数据栏*/
.btn-default {
    padding: 0 10px;
    height: 20px;
    background-color: #FFFFFF;
    border-bottom: 2px solid #b0b4b5;
    float: right;
}

.col1{
    width: 25%;
    text-align: left;
    border-bottom:1px solid #d2d7d9 ;
    border-right:1px solid #d2d7d9 ;
}
.col2{
    width: 25%;
    border-bottom:1px solid #d2d7d9 ;
    border-right:1px solid #d2d7d9 ;
}
.col3{
    width: 25%;
    border-bottom:1px solid #d2d7d9 ;
    border-right:1px solid #d2d7d9 ;
}
.col4{
    width: 25%;
    border-right:1px solid #d2d7d9 ;
}

/*标题栏*/
.col12{
    text-align: left;
    width: 25%;
}
.col13{
    width: 25%;

}
.col14{
    width:25%;
}
.col15{
    width:25%;
}





/*分页栏*/
/*table3*/
.table3{
    background-color: #e4eaec;
    border-bottom: 2px solid #d2d7d9;
    margin-bottom: 20px;
}



/*搜索错误提示*/
#errorm{
    font-size: 15px;
    color: white;
    position: absolute;
    padding: 10px 10px;
    background-color: rgba(77,77,77,0.6);
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    top: 7.5%;
    left: 30%;
    display: none;

}
#errorm4, #errorm5, #errorm6, #errorm7,#errorm8, #errorm9, #errorm10, #errorm11,#errorm12, #errorm13, #errorm14, #errorm15, #errorm16{
font-size: 15px;
    color: white;
    position: absolute;
    padding: 10px 15px;
    background-color: rgba(77,77,77,0.6);
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    top:57%;
    left: 45%;
    display: none;
    z-index: 998;
}


