*{margin: 0;padding: 0;list-style: none;}

/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */ {
    margin: 0;
    padding: 0;
}

/** 设置默认字体 **/
body,
button, input, select, textarea /* for ie */ {
    font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif;
}
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp { font-family: courier new, courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/** 重置列表元素 **/
ul, ol { list-style: none; }

/** 重置文本格式元素 **/
a { text-decoration: none; }


/** 重置表单元素 **/
legend { color: #000; } /* for ie6 */
fieldset, img { border: 0; } /* img 搭车：让链接里的 img 无边框 */
button, input, select, textarea { font-size: 100%; } /* 使得表单元素在 ie 下能继承字体大小 */
/* 注：optgroup 无法扶正 */

/** 重置表格元素 **/
table { border-collapse: collapse; border-spacing: 0; }

ul{  list-style-type: none;  }
a {
    color: #4c4c4c;
    text-decoration: none;
}
a:visited {
    color: #4c4c4c;
}
.clear{
    clear: both;
}








/*退出按钮*/
.downmenu{
    position: relative;
}

#logout{
    position: absolute;
    box-shadow: 0 3px 6px 1px #DDDDDD;
    right: 0;
    top:48px;
    display: none;
}
#logout{
    width: 100px;
    line-height: 42px;
    text-align: center;
    font-size: 13px;
    color: #57b383;
    background-color: white;

}
#logout:hover{
    background-color: #57b383;
    color: white;
}

.userfont{
    font-size: 20px!important;
    line-height: 48px;
    color: #57b383;
    vertical-align: -3px;
}











/*统一样式*/

/*左侧导航+右侧头部导航*/
.container {
    width: 100%;
    height: 100%;
    margin: auto;
}

.nav-global{
    height: 48px;
    background: #fff;
    position: fixed;
    width: 100%;
    z-index: 99;
}
/*logo*/
.global-logo{
    width: 200px;

    display: block;
    height: 48px;
    background: #353644;
    float: left;
}

.global-logo-img{
    float: left;
    width: 30px;
    height: 30px;
    margin: 10px 5px 0 20px;
}

/*标题*/
.global-logo-title {
    float: left;
    color: white;
    font-size: 16px;
    line-height: 48px;
    text-align: center;
}

.nav-global .items-inner {
    height: 48px;
    box-shadow: 0 -1px 8px 1px #bbb;
    margin-left: 200px;

}


/*右侧上方导航栏*/
.global-items {
    float: right;
}

.global-items .nav-item {
    border-left: 1px solid #eee;
    position: relative;
    display: inline-block;
    height: 48px;
    vertical-align: middle;
}

.global-items .nav-item .nav-text {
    color: #333;
    padding-left: 10px;
    line-height: 48px;
    vertical-align: middle
}

.global-items .nav-item-inner.insight {
    background: rgba(179, 168, 87, .13);
}

.global-items .nav-item .nav-item-inner {
    display: block;
    width: 100px;
    height: 48px;
    position: relative;
    text-align: center;
    /*background-color: #eafdf3;*/
}

.global-items a {
    text-decoration: none;
}
.nav-item:hover{
    background: #f8f8f8;
}




.global-items .nav-item-inner.mobile-app:hover {
    background: rgba(87, 179, 130, .1)
}

.global-items .user-name{
    font-style: normal;
    /*float: left;*/
    color: #333333;
    font-size: 14px;
    /*padding-left: 10px;*/
    line-height: 48px;
    vertical-align: middle
    max-width: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.global-items .nav-item-inner.insight .fa, .global-items .nav-item-inner.insight .nav-text{
    color: #b39257;
}

.nav-zone{
    width: 200px;
    background: #22222c;
    height: 100%;
    float: left;
    padding-top: 48px;
    position: fixed;
    z-index: 90;
    overflow-y: auto;
}

.nav-zone-inner {
    padding-bottom: 20px;
}


/*左侧标题栏*/
.zone-items li{
    line-height: 2em;
}
.zone-items li:hover{
    background-color: #2e3742;
}

.zone-items h5 {
    color: #fff;
    text-transform: upperCase;
    padding: 0 12px;
    margin: 10px 0 5px;
    font-size: 14px;

}
.zone-items a:hover, .zone-items a:hover  {
    color: #fff
}


.zone-items a {
    font-size: 14px;
    position: relative;
    color: #FFFFFF;
    display: block;
    line-height: 50px;
    padding-left: 25px;
}
.zone-items a:hover {
    background-color: #57b383;
    color: #FFFFFF;
}

/*订单管理*/
.control{
    margin-top: 15px;
}

/*左侧标题栏icon*/
.menuicon{
    font-size: 19px!important;
    margin-right: 15px;
    vertical-align: -2px;
}


/*右侧正文*/
.content{
    color: #2a2d2e;
    margin-left: 200px;
    border-top: 1px solid #ddd;
    padding-top: 48px;
    padding-left: 20px;
    position: relative;
}

/*右侧标题*/
.content-title {
    border-bottom: 1px solid #DDD;
    padding: 16px 0px;
    font-size: 16px;
    font-weight: 700;
    /*min-height: 70px;*/
}


/*搜索行*/
.search {
    /*border-bottom: 1px solid #DDD;*/
    padding: 16px 0px;
}

/*输入框样式*/
.input-default {
    height: 30px;
    border-radius:2px 2px 2px 2px;
    font-size: 12px;
    color: #555555;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    outline: none;
    padding-left: 6px;


}
/*select样式*/
.select-default {
    height: 32px;
    border-radius: 2px 2px 2px 2px;
    transition: none;
    font-size: 12px;
    line-height: 1.428571429;
    color: #555555;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    outline: none;

}

.search-label1{
    margin-left: 10px;
}

/*搜索按钮*/
#searchbtn{
    margin-left: 10px;
    cursor: pointer;
}
#searchbtn:hover{
    background-color: #f2f2f2;
}


/*按钮统一样式*/
.btn-default {
    color: #808080;
    border: none;
    padding: 0 12px;
    background-color: #ececec;
    font-size: 12px;
    height: 32px;
    line-height: 14px;
    border-bottom: 2px solid #d4d4d4;
    border-radius: 2px 2px 2px 2px;
    outline: none;
    cursor: pointer;
}

.btn-default:hover{
    color: #4d4d4d;
}




/* 整个页面底部六百 */
.content-main{
	margin-bottom:30px;overflow:auto;
}
.samestyle{
	float:right;
	background-color: #FFFFFF;
	border-bottom: 2px solid #b0b4b5;
	margin:9px 10px;
    border-top: none;
    border-right: none;
    border-left: none;
    height: 25px;
    color: #808080;
    padding: 0 12px;
    text-shadow: 0 0 20px #ffffff;
    font-size: 12px;
    border-radius: 2px 2px 2px 2px;
    outline: none;
    cursor: pointer;
}



/*页脚*/
.pull-left {
    float: left !important;
}
.pull-right {
    float: right !important;
}


.pagination-info {
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    padding: 7px 29px;
    color: #58666e;;
    float: left;
}

.pagination {
    margin: 0;
    vertical-align: middle;
    border-radius: 0;
    display: inline-block;
    padding-left: 0;
    float: left;

}

.pagination span a {
    height: 32px;
    line-height: 32px;
    border: 1px solid #949899;
    padding: 8px 12px;
    text-decoration: none;
    cursor: pointer;
    margin-left: -1px;
    background-color: #FFFFFF;
}


.pagination-goto {
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    padding: 0px 15px;
    float: left;
}

/*页数输入框*/
#gotoPageNo {
    width: 30px;
    border: 1px solid #949899;
    margin-right: 15px;
}


/*跳转页数按钮*/
#goBtn, #transfer, #nottransfer{
    background-color: #FFFFFF;
    border-bottom: 2px solid #b0b4b5;
}

/*已经是最后一页了！*/
#errorm3{
    font-size: 15px;
    color: white;
    position: absolute;
    padding: 10px 15px;
    background-color: rgba(77,77,77,0.6);
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    top:57%;
    left: 45%;
    display: none;
    z-index: 998;

}
/*隐藏样式*/
.display-none {
    display: none;
}